*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
--user-photo-width: 150px;

}

body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.2;
}

a {
text-decoration: none;
color: inherit;

}
.bg {
    background-image: 
    url("https://images.pexels.com/photos/3222255/pexels-photo-3222255.jpeg?auto=compress&cs=tinysrgb&w=400");
    height: 150px;
    color: white;
    padding: 25px;
    text-align: right;
}

.content-wrapper {
    padding: 0 1em 1em;
}

.userImg {

    width: var(--user-photo-width);
    height: var(--user-photo-width);
    object-fit: cover;
    border-radius: 100px;
    display: inline-block;
    margin-top : -calc((-1) * var(--user-photo-width) / 2);
    border: 3px solid white;

}


.userCard {
max-width: 250px;
width: 300px;
min-width: 250px;
margin: 50px auto;
border-radius: 30px;
box-shadow: 0 0 10px gray;
overflow: hidden;
text-align: center;

}
.userName {

    font-size: 1.5rem;
    margin: 0.4em 0;
}

.userGeoposition {
    font-size: 1rem;
    margin: 0.5em 0;
}

.job {
    font-size: 1.2rem;
    margin: 0.4em 0;
}

.experience {
    font-size: 1rem;
    margin: 1.2em 0;
}

.userSicialLink {
color: white;
font-size: 1.5rem;
background-color: gray;
border-radius: 50%;
padding: 10px;
width: 45 xp;
height: 45px;
}
    .userSicialLink + .userSicialLink {
        margin-left: 35px;
    }